<!-- Footer session  -->
<footer class="text-white pt-10 md:pt-16 px-20 pb-10 md:pb-24">
    <div
        class="box-container grid grid-cols-1 md:grid-cols-3 justify-items-center gap-x-32 text-center md:text-left gap-y-7">
        <div class="navigate">
            <div>
                <h4 class="text-xl mb-4 font-semibold">Navigate</h4>
                <div class="box">
                    <a href="/">
                        <div class=" hover:text-white">Home
                        </div>
                    </a>
                    <a href="#my-about">
                        <div class="hover:text-white mt-2">About</div>
                    </a>
                    <a href="#my-skills">
                        <div class="hover:text-white mt-2">Skills</div>
                    </a>
                    <a href="#my-projects">
                        <div class="hover:text-white mt-2">Projects</div>
                    </a>
                    <a href="#my-contact">
                        <div class="hover:text-white mt-2">Contact</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="connect">
            <h4 class="text-xl mb-4 font-semibold">Connect</h4>
            <div class="box">
                <a href="mailto:amalkrishnanvp17@gmail.com">
                    <div class="hover:text-white">Email</div>
                </a>
            </div>
        </div>
        <div class="socials">
            <h4 class="text-xl mb-4 font-semibold">Socials</h4>
            <div class="box flex gap-5 justify-center md:justify-start">
                <a href="https://www.linkedin.com/in/amal-krishnan-v-p-7379a1273/">
                    <div class="hover:text-white"><i class="fa-brands fa-linkedin text-lg"></i></div>
                </a>
                <a href="https://github.com/Amalkrishnanvp">
                    <div class="hover:text-white"><i class="fa-brands fa-github text-lg"></i></div>
                </a>
            </div>
        </div>
</footer>