<!-- Navbar  -->
<nav class="flex text-white justify-between p-5 sm:p-7 lg:p-9 items-start lg:items-center sticky top-0 navbar">
    <!-- my name heading -->
    <h2 class="font-semibold text-3xl md:text-4xl my-name">Portfolio</h2>
    <!-- navbar items for different sections -->
    <ul
        class="text-lg navbar-list flex-col gap-3 my-auto mr-6 text-center hidden lg:flex lg:flex-row lg:gap-2 lg:p-0 lg:m-0">
        <a href="/">
            <li class="nav-border px-3 py-1.5 hover:bg-color-1 list-item rounded-lg">
                Home<i class="fa-solid fa-house ml-1 text-base"></i>
            </li>
        </a>
        <a href="/#my-about">
            <li class="nav-border px-3 py-1.5 list-item rounded-lg hover:bg-color-1">
                About<i class="fa-solid fa-user ml-1 text-base"></i>
            </li>
        </a>
        <a href="/#my-skills">
            <li class="nav-border px-3 py-1.5 list-item hover:bg-color-1 rounded-lg">
                Skills<i class="fa-solid fa-screwdriver-wrench ml-1 text-base"></i>
            </li>
        </a>
        <a href="/#my-projects">
            <li class="nav-border  px-3 py-1.5 list-item hover:bg-color-1 rounded-lg">
                Projects<i class="fa-solid fa-check ml-1 text-base"></i>
            </li>
        </a>
        <a href="/#my-contact">
            <li class="nav-border  px-3 py-1.5 list-item hover:bg-color-1 rounded-lg">
                Contact<i class="fa-solid fa-id-card ml-1 text-base"></i>
            </li>
        </a>
        {{!-- <a href="public/Documents/Resume3.pdf" download="AmalKrishnanVP_Resume.pdf">
            <li class="px-3 py-1.5 hover:bg-sky-900 nav-border list-item rounded-lg">
                Resume<i class="fa-solid fa-file-arrow-down download-icon ml-1 text-base"></i>
            </li>
        </a> --}}
    </ul>
    <!-- toggle button for mobile phones instead of navbar items  -->
    <div class="toggle-button-container block lg:hidden">
        <i class="fa-solid fa-bars toggle-btn text-2xl md:text-3xl"></i>
        <!-- cross mark for closing the navbar  -->
        <i class="fa-solid fa-xmark text-2xl md:text-3xl display-none"></i>
    </div>

</nav>