@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto serif";
  font-size: 1rem;
}
.nav-border:hover {
  border: 1px solid #fff;
  border-radius: 2px;
}
.toggle-button-container {
  padding: 8px 12px;
  border-radius: 50%;
}
.toggle-list {
  display: flex;
}
.pad-5 {
  padding: 5px;
}
nav {
  background-color: #001d3d;
  z-index: 999;
}
.section1 {
  background-color: #fff;
}
.section2 {
  background-color: #003566;
}
.section3 {
  background-color: #003566;
}
#cursor {
  animation: blink 0.7s infinite;
}
.about-heading {
  color: #f8f9fa;
}
.my-name {
  color: #fff;
}
.info {
  box-shadow: 0px 2px 15px 2px #8b8eaf;
}
.form-shadow {
  box-shadow: 0px 1px 20px .5px #001d3d;
}
nav {
  box-shadow: 0 1px 5px #001d3d;
}
.shadow-property {
  box-shadow: 0 3px 10px black;
}
.color-div {
  background-color: #003566;
}
.display-none {
  display: none !important;
}
html {
  scroll-behavior: smooth;
}
.project-view {
  color: #48cae4;
}
.project-view:hover {
  color: #90e0ef;
}
.project-details {
  color: #e9ecef;
}
footer {
  background-color: #001d3d;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
