<div id="my-home">

    <!-- Hero Section  -->
    <div class="flex justify-center">
        <section class="section1 lg:w-[1280px]">
            <div>
                <div
                    class="hero-section flex flex-col-reverse justify-center items-center p-11 md:flex-row md:justify-around gap-8">
                    <!-- info on my name and role  -->
                    <div class="info md:mr-8 rounded-md px-4 py-4 md:p-8">
                        <p class="text-lg lg:text-xl xl:text-2xl text-center pt-1 md:mt-0 md:text-left font-semibold">
                            FULL STACK DEVELOPER <i class="fa-solid fa-code text-lg xl:text-2xl ml-1"></i></p>
                        <h1 class="font-bold text-3xl lg:text-4xl xl:text-5xl text-center pt-1 sm:mt-0 sm:text-left">
                            Amal Krishnan
                            v p</h1>
                    </div>
                    <!-- my image  -->
                    <div class="picture">
                        <img src="images/amal1.jpg" class="w-96 rounded-full">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="color-div flex justify-center">
        <section class="whole-section px-7 xl:px-5 xl:w-[1280px]">

            <!-- About section  -->
            <section class="section2" id="my-about">
                <div class="about-section text-white pt-6 md:pt-12 flex flex-col">
                    <!-- about section heading  -->
                    <div>
                        <h2 class="text-4xl md:text-5xl font-semibold md:mb-2 pb-6 pt-2 about-heading md:pl-5">About
                            Me<i class="fa-solid fa-user text-2xl md:text-4xl ml-3"></i></h2>
                    </div>
                    <!-- more details in about section  -->
                    <div class="flex flex-col items-center justify-center pt-4 md:flex-row md:pt-6 md:justify-around">
                        <!-- my image in about section  -->
                        <div class="profile-img md:shrink-0 md:mr-20">
                            <img src="images/me.jpg" class="rounded-full md:h-96 w-96">
                        </div>
                        <!-- about section details  -->
                        <div class="about max-w-2xl mt-8 md:mt-0">
                            <h3 class="text-3xl md:text-5xl mb-8">I am a <span id="identity"
                                    class="text-3xl md:text-5xl"></span><span id="cursor"
                                    class="text-3xl md:text-5xl d-inline-block">|</span></h3>
                            <p class="md:text-lg">Welcome to my portfolio! I'm Amal, a Full Stack Developer skilled in
                                crafting end-to-end web solutions. From intuitive front-end interfaces to robust
                                back-end systems, I build applications that are both visually appealing and functionally
                                powerful.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Skills section  -->
            <section class="section3" id="my-skills">
                <div class="skills-section text-white pt-12 flex flex-col">
                    <!-- skill section heading  -->
                    <div>
                        <h2
                            class="text-4xl md:text-5xl font-semibold md:mb-2 pb-6 pt-2 about-heading md:pr-5 text-right">
                            <i class="fa-solid fa-screwdriver-wrench text-2xl md:text-4xl mr-3"></i>My Skills
                        </h2>
                    </div>
                    <!-- my skills  -->
                    <div class="skill-icons pt-5 md:pt-7 flex justify-center">
                        <div class="box-row grid grid-cols-4 place-items-center gap-6">
                            <div
                                class="box1 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/html.png">
                            </div>
                            <div
                                class="box2 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/css.png">
                            </div>
                            <div
                                class="box3 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/javascript.png">
                            </div>
                            <div
                                class="box4 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/tailwind.svg">
                            </div>
                            <div
                                class="box5 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/node.jpg">
                            </div>
                            <div
                                class="box6 bg-white h-24 w-24 p-4 sm:h-28 sm:w-28 sm:p-5 md:h-32 md:w-32 md:p-6 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/express.png">
                            </div>
                            <div
                                class="box7 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/handlebars.png">
                            </div>
                            <div
                                class="box8 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/m.png">
                            </div>
                            <div
                                class="box9 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/s3.png">
                            </div>
                            <div
                                class="box9 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/java.png">
                            </div>
                            <div
                                class="box9 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/git.png">
                            </div>
                            <div
                                class="box9 bg-white h-24 w-24 p-3 sm:h-28 sm:w-28 sm:p-4 md:h-32 md:w-32 flex items-center justify-center rounded-xl shadow-property">
                                <img src="icons/g.png">
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- Projects section  -->
            <section class="section4" id="my-projects">
                <div class="projects-section text-white pt-12 flex flex-col">
                    <!-- heading in project section  -->
                    <div>
                        <h2
                            class="text-4xl md:text-5xl font-semibold md:mb-2 pb-6 pt-2 project-heading md:pl-5 text-left">
                            My Projects
                            <i class="fa-solid fa-check text-2xl md:text-4xl"></i>
                        </h2>

                    </div>
                    <!-- my projects  -->
                    <div class="projects-container flex flex-col justify-center">
                        <div>
                            <h3
                                class="text-2xl md:text-3xl font-semibold md:mb-2 pb-6 pt-2 project-heading md:pl-5 text-right">
                                <i class="fa-solid fa-arrow-down text-2zl md:text-3xl"></i>
                                Full Stack Projects

                            </h3>
                            <div
                                class="projects pt-5 md:pt-7 grid grid-cols-1 lg:grid-cols-3 gap-y-12 lg:gap-y-0 lg:gap-x-12 lg:px-5">
                                <!-- project 1 -->
                                <div class="project-1 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/ecom.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">E-Commerce
                                        Application</div>
                                    <div class="project-details mt-4">A user-friendly eCommerce app that enables
                                        seamless
                                        browsing, purchasing, and tracking of products across multiple categories with
                                        secure payment options</div>
                                    <div class="project-link mt-3">
                                        <a href="/project/ecommerce" class="project-view">Detailed View <i
                                                class="fa-solid fa-eye text-white ml-1"></i></a>

                                    </div>
                                </div>
                                <!-- project 2 -->
                                <div class="project-1 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/movie-search.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Movie Search
                                        Application</div>
                                    <div class="project-details mt-4">An intuitive movie search app that lets users
                                        instantly find detailed information about films, including ratings, trailers,
                                        and
                                        cast, using a simple keyword search</div>
                                    <div class="project-link mt-3">
                                        <a href="/project/movie-search" class="project-view">Detailed View <i
                                                class="fa-solid fa-eye text-white ml-1"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <h3
                                class="text-2xl md:text-3xl font-semibold md:mb-2 pb-6 pt-2 project-heading md:pl-5 text-left">
                                Mini Projects
                                <i class="fa-solid fa-arrow-down text-2zl md:text-3xl"></i>
                            </h3>

                            <div
                                class="projects pt-5 md:pt-7 grid grid-cols-1 lg:grid-cols-3 gap-y-12 lg:gap-y-0 lg:gap-x-12 lg:px-5">

                                <!-- project 3 -->
                                <div class="project-2 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/img2.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Weather
                                        Application</div>
                                    <div class="project-details mt-4">A dynamic weather application that provides
                                        real-time
                                        weather updates for cities worldwide using weather API to fetch and
                                        display current conditions.
                                    </div>
                                    <div class="project-link mt-3">
                                        <a href="https://amalkrishnanvp.github.io/Weather-application/"
                                            class="project-view">View
                                            Project <i class="fa-solid fa-eye text-white ml-1"></i></a>

                                    </div>
                                </div>
                                <!-- project 4 -->
                                <div class="project-3 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/img3.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Medito Website
                                        Clone</div>
                                    <div class="project-details mt-4">A basic clone of the Medito website, showcasing a
                                        user-friendly design and layout inspired by the original site and ensures
                                        responsiveness.</div>
                                    <div class="project-link mt-3">
                                        <a href="https://amalkrishnanvp.github.io/Medito-Website-Clone/"
                                            class="project-view">View
                                            Project <i class="fa-solid fa-eye text-white ml-1"></i></a>

                                    </div>
                                </div>
                                <!-- project 5 -->
                                <div class="project-3 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/img4.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Movie Search
                                        App</div>
                                    <div class="project-details mt-4">A movie search application that allows users to
                                        easily search for movies, view detailed information including ratings, plot,
                                        cast etc. and showcases a clean, responsive design.</div>
                                </div>
                                <!-- project 6 -->
                                <div class="project-3 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/img5.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Currency
                                        Converter</div>
                                    <div class="project-details mt-4">A Currency converter that allows users to convert
                                        between various currencies in real-time, featuring an intuitive interface for
                                        seamless use.</div>
                                </div>
                                <!-- project 7 -->
                                <div class="project-3 flex flex-col items-center text-center lg:mb-7">
                                    <div class="project-img shrink-0">
                                        <img src="images/img6.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Web Scraper
                                    </div>
                                    <div class="project-details mt-4">A Web scraper designed to extract data from
                                        websites efficiently, providing users with organized information from various
                                        online sources.</div>
                                </div>
                                <!-- project 8 -->
                                <div class="project-3 flex flex-col items-center text-center ">
                                    <div class="project-img shrink-0">
                                        <img src="images/img7.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Markdown to
                                        HTML Converter
                                    </div>
                                    <div class="project-details mt-4">A simple tool that converts Markdown text into
                                        HTML. This project allows users to input Markdown-formatted text and get the
                                        corresponding HTML output.</div>
                                </div>
                                <!-- project 9 -->
                                <div class="project-3 flex flex-col items-center text-center ">
                                    <div class="project-img shrink-0">
                                        <img src="images/img8.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">Quote Generator
                                    </div>
                                    <div class="project-details mt-4">An application that randomly generates and
                                        displays inspirational quotes, helping users find motivation and encouragement
                                        throughout their day.</div>
                                </div>
                                <!-- project 10 -->
                                <div class="project-3 flex flex-col items-center text-center ">
                                    <div class="project-img shrink-0">
                                        <img src="images/img9.png" class="rounded-lg">
                                    </div>
                                    <div class="project-heading font-semibold text-2xl md:text-3xl mt-5">URL Shortener
                                    </div>
                                    <div class="project-details mt-4">A service that converts long URLs into short,
                                        manageable links, making them easier to share and track.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contact session -->
            <section class="contact-section" id="my-contact">
                <div class="contact-section text-white pt-12 flex flex-col">
                    <!-- heading in contact session -->
                    <div>
                        <h2
                            class="text-4xl md:text-5xl font-semibold md:mb-2 pb-6 pt-2 project-heading md:pr-5 text-right">
                            <i class="fa-solid fa-id-card text-2xl md:text-4xl"></i>
                            Contact
                        </h2>
                    </div>
                    <!-- Form in contact section -->
                    <div class="contact-form flex justify-center pt-5 md:pt-7 pb-16">
                        <div
                            class="gap-2 fixed pop-up-msg text-white border-blue-400 py-2 px-4 rounded-md hidden top-28 md:top-36">
                            <div class="text-base">Your message has been sent</div>
                            <div>
                                <i class="fa-regular fa-paper-plane"></i>
                                <!-- <img src="public/images/carrier-pigeon.png" class="w-7"> -->
                            </div>
                        </div>
                        <form class="w-full sm:max-w-md" id="my-form" action="/formaction" method="POST">
                            <div class="form-div flex flex-col gap-5 form-shadow rounded-md p-6 md:p-7">
                                <div class="flex flex-col">
                                    <label class="mb-2 text-lg">Full Name</label>
                                    <input type="text" class="text-black outline-none md:h-11 p-3 rounded-md" id="name"
                                        name="name" required>
                                </div>
                                <div class="flex flex-col">
                                    <label class="mb-2 text-lg">Email</label>
                                    <input type="Email" class="text-black outline-none md:h-11 p-3 rounded-md"
                                        id="email" name="email" required>
                                </div>
                                <div class="flex flex-col">
                                    <label class="mb-2 text-lg">Message</label>
                                    <textarea class="text-black outline-none h-28 md:h-24 p-3 rounded-md resize-none"
                                        id="message" name="message" required></textarea>
                                </div>
                                <div class="mt-3">
                                    <input type="submit"
                                        class="text-white w-full text-lg outline-none h-14 md:h-12 p-2 rounded-md bg-blue-700 hover:bg-blue-600 my-auto"
                                        value="Send Message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>

    </div>

</div>